.headerContent {
  max-width: 500px;
}

.headerContent h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.04em;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.headerContent p {
  font-weight: 500;
  font-size: 24px;
  margin: 1.5rem 0;
}

.headerContent p span {
  display: block;
  width: fit-content;
  padding: 0 0.5rem;
}

.btn {
  border-radius: 20px;
}
