@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,700&display=swap');

:root {
  --primary_color: #e53526;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  background-color: #fff;
  font-family: 'Titillium Web', sans-serif;
}

.App::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 65vw;
  height: 80vh;
  background-color: var(--primary_color);
  transform: skewX(-2deg);
  border-radius: 25px;
}
